/*these variables are implement for the desktop-tablet responsive mode*/
/*these variables are implement for the mobile responsive mode (max-width : 350px)*/
/* design the shadow for bands and buttons */
/* describe the different font size for all page */
/* to delete the link decoration */
/* base design fot button */
/* base design for "Fonctionnement" and menu bands */
/*these keyframes design the loader animation*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Shrikhand&display=swap");
@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes loader-spiner {
  to {
    transform: rotate(360deg);
  }
}
@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(1000px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes band-spiner {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body {
  margin: 0px;
}

* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/* the button take place in the home page header */
.exploreButton {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 501;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  margin-left: auto;
  margin-right: auto;
  border-radius: 60px;
  box-shadow: 0px 5px 15px 0px #c4c4c4;
  letter-spacing: 0.5px;
  text-align: center;
  transition: background-color 1s, box-shadow 0.5s 0.5s;
  position: relative;
  top: 35px;
  padding: 1.2rem;
}
@media screen and (min-width: 644px) {
  .exploreButton {
    font-size: 21px;
  }
}
@media screen and (max-width: 350px) {
  .exploreButton {
    font-size: 14px;
  }
}
.exploreButton:hover {
  background: #ff93e1;
  box-shadow: 0px 5px 15px 5px #b7b7b7;
}

/* the button take place just above the menu pages footer */
.orderButton {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 501;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  margin-left: auto;
  margin-right: auto;
  border-radius: 60px;
  box-shadow: 0px 5px 15px 0px #c4c4c4;
  letter-spacing: 0.5px;
  text-align: center;
  transition: background-color 1s, box-shadow 0.5s 0.5s;
  bottom: 30px;
  padding: 1rem 3rem 1rem 3rem;
  position: relative;
}
@media screen and (min-width: 644px) {
  .orderButton {
    font-size: 21px;
  }
}
@media screen and (max-width: 350px) {
  .orderButton {
    font-size: 14px;
  }
}
.orderButton:hover {
  background: #ff93e1;
  box-shadow: 0px 5px 15px 5px #b7b7b7;
}

/* arrow icon take place beside the logo, in menu pages */
.arrow {
  position: relative;
  right: 20%;
  bottom: 8px;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  color: black;
}

/* a banner image illustrating the restaurant, in menu pages */
.banner {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 644px) {
  .banner {
    height: 300px;
    border-bottom: solid 4px #FF79DA;
    border-top: solid 3px #9356DC;
  }
}

/* design the two sections titles, home page */
.sectionTitle {
  font-weight: bold;
  font-size: 25px;
  margin: 50px 0px 30px 20px;
}
@media screen and (min-width: 644px) {
  .sectionTitle {
    font-size: 30px;
    text-align: center;
    margin: 50px 0px 50px 0px;
  }
}
@media screen and (max-width: 350px) {
  .sectionTitle {
    font-size: 23px;
  }
}

.loader {
  display: grid;
  place-items: center;
  position: fixed;
  inset: 0;
  height: 100vh;
  background-color: #ffffff;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 0s 2s forwards;
}
.loader__divAnimation {
  display: grid;
  place-items: center;
}
.loader__divAnimation__utensils {
  animation: loader-spiner 1s infinite;
  color: #9356DC;
}
.loader__divAnimation__p {
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
}

.header {
  text-align: center;
}
.header .logoDiv {
  padding: 25px 0px 10px 0px;
  /*the intervention of "position : relative" places "logoDiv" on top of the class ".position". 
  this manipulation allows to see the shadow on top of this class, and not that it is hidden by it*/
  position: relative;
  box-shadow: 0px 3px 5px #d1d1d1;
  /* only design the menu page header */
  /* End of "only design the menu page header" */
}
@media screen and (min-width: 644px) {
  .header .logoDiv {
    padding: 35px 0px 20px 0px;
  }
}
.header .logoDiv--menu {
  padding: 25px 0px 15px 0px;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 644px) {
  .header .logoDiv--menu {
    padding: 35px 0px 35px 0px;
  }
}
.header .logoDiv--menu__arrowLink {
  position: absolute;
  left: 30px;
  top: 33px;
  float: left;
}
@media screen and (min-width: 644px) {
  .header .logoDiv--menu__arrowLink {
    top: 40px;
    left: 60px;
  }
}
.header .logoDiv--menu__arrowLink__arrow {
  position: relative;
  right: 20%;
  bottom: 8px;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.781);
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 644px) {
  .header .logoDiv--menu__arrowLink__arrow {
    font-size: 30px;
  }
}
@media screen and (max-width: 350px) {
  .header .logoDiv--menu__arrowLink__arrow {
    font-size: 23px;
  }
}
.header .logoDiv__logo {
  height: 28px;
}
@media screen and (min-width: 644px) {
  .header .logoDiv__logo {
    height: 40px;
  }
}
@media screen and (max-width: 350px) {
  .header .logoDiv__logo {
    height: 25px;
  }
}
.header .position {
  display: flex;
  justify-content: center;
  background-color: #efefef;
  font-size: 16px;
  font-weight: bold;
}
@media screen and (min-width: 644px) {
  .header .position {
    font-size: 21px;
  }
}
@media screen and (max-width: 350px) {
  .header .position {
    font-size: 14px;
  }
}
.header .position__icon {
  position: relative;
  top: 20px;
  right: 20px;
  color: rgba(0, 0, 0, 0.781);
}
.header .position__localisation {
  margin: 20px 0px 20px 0px;
  color: rgba(0, 0, 0, 0.781);
}
.header .headerDescription {
  background-color: #F7F7F7;
  border: #F7F7F7 solid 1px;
  height: 300px;
  padding: 0px 40px 0px 40px;
}
.header .headerDescription__title1 {
  font-weight: bold;
  font-size: 25px;
  margin-top: 35px;
  margin-bottom: -5px;
}
@media screen and (min-width: 644px) {
  .header .headerDescription__title1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 350px) {
  .header .headerDescription__title1 {
    font-size: 23px;
  }
}
.header .headerDescription__title2 {
  font-size: 17.5px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.781);
}
@media screen and (min-width: 644px) {
  .header .headerDescription__title2 {
    font-size: 22.5px;
  }
}
@media screen and (max-width: 350px) {
  .header .headerDescription__title2 {
    font-size: 15.5px;
  }
}

/* only design for menu pages */
.mainMenuPages {
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 20px;
  height: 1125px;
}
.mainMenuPages--laNoteEnchantee {
  height: 1205px;
}
@media screen and (min-width: 644px) {
  .mainMenuPages {
    width: 70%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    top: -80px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 5px 15px 0px #c4c4c4;
    height: 1160px;
    padding-bottom: 120px;
  }
  .mainMenuPages--laNoteEnchantee {
    height: 1250px;
  }
}
.mainMenuPages__divTitleMain {
  display: flex;
  position: relative;
  bottom: 60px;
  background-color: #F7F7F7;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
@media screen and (min-width: 644px) {
  .mainMenuPages__divTitleMain {
    text-align: center;
  }
}
.mainMenuPages__divTitleMain__title {
  font-family: "Shrikhand", cursive;
  margin-left: 20px;
  margin-bottom: 0px;
  padding-top: 15px;
  font-weight: normal;
  font-size: 25px;
  flex: 5;
}
@media screen and (min-width: 644px) {
  .mainMenuPages__divTitleMain__title {
    font-size: 30px;
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 350px) {
  .mainMenuPages__divTitleMain__title {
    font-size: 23px;
  }
}
.mainMenuPages__divTitleMain__divHeart {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 15px;
}
@media screen and (min-width: 644px) {
  .mainMenuPages__divTitleMain__divHeart {
    justify-content: flex-end;
    margin-right: 50px;
    flex: 1;
  }
}
.mainMenuPages__divTitleMain .heart {
  font-weight: normal;
  font-size: 25px;
}
@media screen and (min-width: 644px) {
  .mainMenuPages__divTitleMain .heart {
    font-size: 30px;
  }
}
@media screen and (max-width: 350px) {
  .mainMenuPages__divTitleMain .heart {
    font-size: 23px;
  }
}
.mainMenuPages__divTitleMain .heart--animation {
  opacity: 0;
  font-weight: bold;
  font-size: 25px;
  color: #9356DC;
  position: absolute;
  transition: all 0.5s, transform 0.5s 0.3s;
}
@media screen and (min-width: 644px) {
  .mainMenuPages__divTitleMain .heart--animation {
    font-size: 30px;
  }
}
@media screen and (max-width: 350px) {
  .mainMenuPages__divTitleMain .heart--animation {
    font-size: 23px;
  }
}
.mainMenuPages__divTitleMain .heart--animation:hover {
  opacity: 1;
  transform: scale(1.15);
  background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.mainMenuPages .sectionMenus {
  margin-bottom: 60px;
  animation: apparition 1s ease-in-out;
}
.mainMenuPages .sectionMenus--apparitionPlats {
  animation: apparition 1.3s ease-in-out;
}
.mainMenuPages .sectionMenus--apparitionDesserts {
  animation: apparition 1.6s ease-in-out;
}
.mainMenuPages .sectionMenus__divTitleMenu {
  margin: -50px 0px 15px 20px;
  font-size: 17.5px;
  font-weight: normal;
}
.mainMenuPages .sectionMenus__divTitleMenu__title {
  margin-bottom: 5px;
}
@media screen and (min-width: 644px) {
  .mainMenuPages .sectionMenus__divTitleMenu__title {
    font-size: 22.5px;
  }
}
@media screen and (max-width: 350px) {
  .mainMenuPages .sectionMenus__divTitleMenu__title {
    font-size: 15.5px;
  }
}
.mainMenuPages .sectionMenus__divTitleMenu__line {
  width: 40px;
  border: solid #99E2D0 1.5px;
  background-color: #99E2D0;
  margin: 0px;
  position: relative;
}
@media screen and (min-width: 644px) {
  .mainMenuPages .sectionMenus__divTitleMenu__line {
    width: 60px;
  }
}
.mainMenuPages .sectionMenus__divChoiceBand {
  margin: 0px 15px 0px 15px;
}
.mainMenuPages .sectionMenus__divChoiceBand .band {
  display: flex;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 15px 0px #dbdbdb;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 15px;
}
.mainMenuPages .sectionMenus__divChoiceBand .band__description {
  padding: 12px 0px 12px 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0px 10px 0px 10px;
}
.mainMenuPages .sectionMenus__divChoiceBand .band__description__title {
  margin: 0;
  font-size: 17.5px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 644px) {
  .mainMenuPages .sectionMenus__divChoiceBand .band__description__title {
    font-size: 22.5px;
  }
}
@media screen and (max-width: 350px) {
  .mainMenuPages .sectionMenus__divChoiceBand .band__description__title {
    font-size: 15.5px;
  }
}
.mainMenuPages .sectionMenus__divChoiceBand .band__description__ingredient {
  margin: 5px 0 0 0;
  font-size: 16px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 644px) {
  .mainMenuPages .sectionMenus__divChoiceBand .band__description__ingredient {
    font-size: 21px;
  }
}
@media screen and (max-width: 350px) {
  .mainMenuPages .sectionMenus__divChoiceBand .band__description__ingredient {
    font-size: 14px;
  }
}
.mainMenuPages .sectionMenus__divChoiceBand .band__price {
  font-size: 16px;
  font-weight: bold;
  margin-left: auto;
  margin-right: 25px;
  padding-left: 200px;
  display: flex;
  align-items: flex-end;
  padding: 12px 0px 12px 0px;
}
@media screen and (min-width: 644px) {
  .mainMenuPages .sectionMenus__divChoiceBand .band__price {
    font-size: 21px;
  }
}
@media screen and (max-width: 350px) {
  .mainMenuPages .sectionMenus__divChoiceBand .band__price {
    font-size: 14px;
  }
}
.mainMenuPages .sectionMenus__divChoiceBand .band__checkBox {
  font-size: 16px;
  font-weight: bold;
  display: grid;
  place-items: center;
  margin-right: -4rem;
  width: 4rem;
  background: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  padding: 12px 0px 12px 0px;
  transition: margin-right 0.5s ease;
}
@media screen and (min-width: 644px) {
  .mainMenuPages .sectionMenus__divChoiceBand .band__checkBox {
    font-size: 21px;
  }
}
@media screen and (max-width: 350px) {
  .mainMenuPages .sectionMenus__divChoiceBand .band__checkBox {
    font-size: 14px;
  }
}
.mainMenuPages .sectionMenus__divChoiceBand .band__checkBox__checked {
  background-color: white;
  color: #99E2D0;
  border-radius: 50%;
  width: 25px;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  font-size: 14px;
  font-weight: bold;
}
@media screen and (min-width: 644px) {
  .mainMenuPages .sectionMenus__divChoiceBand .band__checkBox__checked {
    font-size: 19px;
  }
}
@media screen and (max-width: 350px) {
  .mainMenuPages .sectionMenus__divChoiceBand .band__checkBox__checked {
    font-size: 13px;
  }
}
.mainMenuPages .sectionMenus__divChoiceBand .band:hover .band__checkBox {
  margin-right: 0px;
}
.mainMenuPages .sectionMenus__divChoiceBand .band:hover i {
  animation: band-spiner 0.5s ease;
}

@media screen and (min-width: 644px) {
  .sectionFonctionnement {
    margin-top: 80px;
  }
}

.divOperationGuid {
  margin: 0px 20px 0px 20px;
}
.divOperationGuid .numbering {
  background-color: #9356DC;
  color: white;
  font-size: 16px;
  font-weight: normal;
  border-radius: 50%;
  padding: 2px 7px 2px 7px;
  margin-top: 25px;
  position: absolute;
  left: 10px;
}
@media screen and (min-width: 644px) {
  .divOperationGuid .numbering {
    display: none;
  }
}
.divOperationGuid .numbering--display {
  display: none;
  background-color: #9356DC;
  color: white;
  font-size: 21px;
  border-radius: 50%;
  padding: 2px 7px 2px 7px;
  margin-top: 25px;
  position: relative;
  right: 10px;
}
@media screen and (min-width: 644px) {
  .divOperationGuid .numbering--display {
    display: block;
  }
}
.divOperationGuid .OperationGuidBand {
  display: flex;
  text-decoration: none;
  color: black;
  background-color: #F7F7F7;
  border-radius: 15px;
  box-shadow: 0px 5px 15px 0px #dbdbdb;
  margin-bottom: 20px;
  background-color: #F7F7F7;
  height: 75px;
  align-items: center;
  border-radius: 15px;
}
@media screen and (min-width: 644px) {
  .divOperationGuid .OperationGuidBand {
    width: 60%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: 21px;
  }
}
@media screen and (max-width: 350px) {
  .divOperationGuid .OperationGuidBand {
    font-size: 14px;
  }
}
.divOperationGuid .OperationGuidBand:hover {
  background-color: #f2eafb;
}
.divOperationGuid .OperationGuidBand:hover .divIcon__icon {
  color: #9356DC;
}

.divIcon {
  margin: 0px 25px 0px 35px;
}
@media screen and (min-width: 644px) {
  .divIcon {
    margin: 0px 25px 0px 15px;
  }
}
.divIcon__icon {
  color: rgb(159, 159, 159);
  font-size: 17.5px;
  font-weight: bold;
}
@media screen and (min-width: 644px) {
  .divIcon__icon {
    font-size: 22.5px;
  }
}
@media screen and (max-width: 350px) {
  .divIcon__icon {
    font-size: 15.5px;
  }
}

.divP__description {
  font-size: 16px;
  font-weight: bold;
}
@media screen and (min-width: 644px) {
  .divP__description {
    font-size: 21px;
  }
}
@media screen and (max-width: 350px) {
  .divP__description {
    font-size: 14px;
  }
}

.restaurantsSection {
  background-color: #F7F7F7;
  margin-top: 40px;
  position: relative;
  top: 20px;
}
@media screen and (min-width: 644px) {
  .restaurantsSection {
    margin-top: 80px;
  }
}
.restaurantsSection .restaurantsTitle {
  padding-top: 50px;
}
.restaurantsSection .restaurantsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
}
@media screen and (min-width: 644px) {
  .restaurantsSection .restaurantsContainer {
    max-width: 1619px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.restaurantsSection .restaurant {
  text-decoration: none;
  color: black;
  height: 250px;
  margin: 0px 20px 20px 20px;
  box-shadow: 0px 5px 15px 0px #dbdbdb;
  border-radius: 20px;
  background-color: #F7F7F7;
}
@media screen and (min-width: 644px) {
  .restaurantsSection .restaurant {
    height: 350px;
    width: 500px;
  }
}
@media screen and (max-width: 350px) {
  .restaurantsSection .restaurant {
    height: 230px;
  }
}
.restaurantsSection .restaurant__img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurantsSection .restaurant__new {
  float: right;
  position: relative;
  bottom: 180px;
  right: 15px;
  background-color: #99E2D0;
  font-size: 14px;
  font-weight: bold;
  color: #278870;
  padding: 7px 10px 7px 10px;
  border-radius: 3px;
}
@media screen and (min-width: 644px) {
  .restaurantsSection .restaurant__new {
    font-size: 19px;
    bottom: 250px;
  }
}
@media screen and (max-width: 350px) {
  .restaurantsSection .restaurant__new {
    font-size: 13px;
    bottom: 165px;
  }
}
.restaurantsSection .restaurant__new--opacity {
  opacity: 0;
}
.restaurantsSection .restaurant__divDescription {
  display: flex;
  align-items: center;
  background-color: #F7F7F7;
  position: relative;
  bottom: 2px;
  border-radius: 20px;
}
@media screen and (min-width: 644px) {
  .restaurantsSection .restaurant__divDescription {
    top: 5px;
  }
}
.restaurantsSection .restaurant__divDescription__divP {
  flex: 5;
  line-height: 10px;
}
@media screen and (min-width: 644px) {
  .restaurantsSection .restaurant__divDescription__divP {
    flex: 7;
  }
}
@media screen and (max-width: 350px) {
  .restaurantsSection .restaurant__divDescription__divP {
    flex: 3;
  }
}
.restaurantsSection .restaurant__divDescription__divP--restaurantName {
  margin-left: 20px;
  font-size: 17.5px;
  font-weight: bold;
}
@media screen and (min-width: 644px) {
  .restaurantsSection .restaurant__divDescription__divP--restaurantName {
    font-size: 22.5px;
  }
}
@media screen and (max-width: 350px) {
  .restaurantsSection .restaurant__divDescription__divP--restaurantName {
    font-size: 15.5px;
  }
}
.restaurantsSection .restaurant__divDescription__divP--restaurantLocalisation {
  margin-left: 20px;
  font-size: 17.5px;
  font-weight: normal;
}
@media screen and (min-width: 644px) {
  .restaurantsSection .restaurant__divDescription__divP--restaurantLocalisation {
    font-size: 22.5px;
  }
}
@media screen and (max-width: 350px) {
  .restaurantsSection .restaurant__divDescription__divP--restaurantLocalisation {
    font-size: 15.5px;
  }
}
.restaurantsSection .restaurant__divDescription__icon {
  flex: 1;
  display: flex;
  position: relative;
  left: 80px;
  bottom: 5px;
}
.restaurantsSection .restaurant__divDescription__icon__heart {
  font-weight: normal;
  font-size: 25px;
}
@media screen and (min-width: 644px) {
  .restaurantsSection .restaurant__divDescription__icon__heart {
    font-size: 30px;
  }
  .restaurantsSection .restaurant__divDescription__icon__heart:hover {
    opacity: 0;
  }
}
.restaurantsSection .restaurant__divDescription__icon__heart--animation {
  position: absolute;
  opacity: 0;
  color: #9356DC;
  transition: all 0.5s, transform 0.3s 0.2s;
  font-weight: bold;
  font-size: 25px;
}
@media screen and (min-width: 644px) {
  .restaurantsSection .restaurant__divDescription__icon__heart--animation {
    font-size: 30px;
  }
}
.restaurantsSection .restaurant__divDescription__icon__heart--animation:hover {
  opacity: 1;
  transform: scale(1.1);
  background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

footer {
  background-color: rgba(0, 0, 0, 0.781);
}
@media screen and (min-width: 644px) {
  footer {
    text-align: center;
  }
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-size: 17.5px;
  font-weight: normal;
  color: white;
  margin-left: 20px;
  padding-top: 50px;
}
@media screen and (min-width: 644px) {
  footer h3 {
    font-size: 22.5px;
  }
}
footer ul {
  margin: 0px;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  right: 15px;
  line-height: 22px;
  padding-bottom: 30px;
}
@media screen and (min-width: 644px) {
  footer ul {
    font-size: 19px;
    line-height: 28px;
  }
}
footer ul .link {
  text-decoration: none;
  color: white;
}
footer ul .link--color {
  color: #d1d1d1;
}
footer ul .icon {
  font-size: 12px;
  margin-right: 10px;
}
@media screen and (min-width: 644px) {
  footer ul .icon {
    font-size: 19px;
  }
}
footer ul .icon--resize {
  font-size: 9px;
  margin-right: 10px;
}
@media screen and (min-width: 644px) {
  footer ul .icon--resize {
    font-size: 19px;
  }
}

/*# sourceMappingURL=style.css.map */
