$color: (
    primaryColor: #9356DC, 
    secondaryColor: #FF79DA, 
    tertiaryColor: #99E2D0, 
    backgroundPageColor: #F7F7F7,
    blanc: white
);


@mixin shadow($darken: 11%) {
    box-shadow: 0px 5px 15px 0px darken(map-get($map: $color, $key: backgroundPageColor), $darken);
}


@mixin fontLarge($font-weight: bold) {
    font-weight: $font-weight;
    font-size: 25px;
}
@mixin fontMedium($font-weight: normal){
    font-size: 17.5px;
    font-weight: $font-weight;
}
@mixin fontSmall($font-weight: normal){
    font-size: 16px;
    font-weight: $font-weight;
}
@mixin fontSmallMax($font-weight: normal){
    font-size: 14px;
    font-weight: $font-weight;
}


@mixin textDecoration ($fontColor: black){
    text-decoration: none;
    color: $fontColor;
}


@mixin bouton {
    @include textDecoration(white);
    @include fontSmall(bold);
    background: linear-gradient(to top left, #9356DC,  #FF79DA);
    padding: 1.3rem 2rem 1.3rem 2rem;
    border-radius: 60px;
    @include shadow(20%);
    letter-spacing: 0.5px;
    text-align: center;
}


@mixin etiquette($color: white) {
    display: flex;
    width: 90%;
    @include textDecoration;
    background-color: $color;
    border-radius: 20px;
    @include shadow;
}



@function fontColors($color){
    @if (lightness($color) >= 74% ) {
        @return darken($color,  10%);
    }@else{
        @return white;
    }
}
/***@function fontColor ($color){
    @if (lightness(background-color) >= 74% ) {
        @return darken(color,  10%);
    }@else{
        @return $color;
    }
}****/
/***
@mixin fontColor (fontColors($color): black ) {
    color: $color;
}
***/




@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Shrikhand&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}



body{
    margin: 0px;
}



@media screen and (max-width: 643px) {


/******************* HEADER **********************/

    header{
        text-align: center;
    }
        .logoDiv{
            margin: 25px 0px 10px 0px;
            &__logo{
                height: 28px;
            }
        } 
        .positionDiv{
            display: flex;
            justify-content: center;
            background-color: darken(map-get($map: $color, $key: backgroundPageColor), 3%);
            
            margin-top: 3px;
            @include fontSmall(bold);
            &__icon{
                position: relative;
                top: 20px;
                right: 20px;
                color: rgba(0, 0, 0, 0.781);
            }
            & p{
                margin: 20px 0px 20px 0px;
                color: rgba(0, 0, 0, 0.781);
            }
        }
        .descriptionHeader{
            background-color: map-get($map: $color, $key: backgroundPageColor);
            border:#F7F7F7 solid 1px;
            height: 300px;
            padding: 0px 40px 0px 40px;
            &__titre1{
                @include fontLarge;
                margin-top: 35px ;
                margin-bottom: -5px;
            }
            &__titre2{
                @include fontMedium(-weight);
                color: rgba(0, 0, 0, 0.781);
                
            }
            & a {
                @include bouton;
                position: relative;
                top: 35px;
            }
        }

    /*** page menu ***/
        
        .fleche{
            position: relative;
            right: 20%;
            bottom: 8px;
            @include fontLarge(bold);
            @include textDecoration;
        }

        .banniere{
            height: 300px;
            width: 100%;
            object-fit:cover;
        }
    

/**************************** MAIN ***********************/

.mainMenu{
    background-color: map-get($map: $color, $key:  backgroundPageColor);
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
    height: 1110px;
    
}

.divTitreMain{
    display: flex;
    align-items: center;
    position: relative;
    bottom: 60px;
    background-color: #F7F7F7;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
    &__titre{
        font-family: 'Shrikhand', cursive;
        margin-left: 20px;
        margin-bottom: 0px;
        padding-top: 15px;
        @include fontLarge(normal);
        flex: 5;
    }
    &__heart{
        @include fontLarge(normal);
        flex: 1;
        position: relative;
        top: 15px;  
    }
}



/************************ SECTION FONCTIONNEMENT **************/

        .sectionTitre{
            @include fontLarge;
            margin: 50px 0px 30px 20px;
        }

        .divEtiquetteFonctionnement{
            align-items: center;
        }
        .pNum{
            background-color: map-get($map: $color, $key: primaryColor );
            color: map-get($map: $color, $key: blanc);
            @include fontSmall;
            border-radius: 50%;
            padding: 2px 7px 2px 7px;
            float: left;
            position: relative;
            left: 15px;
            top: 10px;
        }
        .aFonctionnement{
            @include etiquette(map-get($map: $color, $key: backgroundPageColor));
            
            margin-bottom: 20px;
            &__divDescrip{
                display: flex;
                background-color: map-get($map: $color, $key:  backgroundPageColor );
                height: 75px;
                align-items: center;
                border-radius: 25px;       
            }
        }
        .divI{
            margin: 0px 25px 0px 35px;
           &__fonctionnementIcon{
                color: rgb(159, 159, 159);
                @include fontMedium(bold); 
           }
        }
        .divP{
            &__fonctionnementP{
                @include fontSmall(bold);
            }
        }
        


/************************ SECTION RESTAURANT **************/

        .restaurants{
            background-color: map-get($map: $color, $key:  backgroundPageColor );
            margin-top: 40px;
            position: relative;
            top: 20px;
        }
        .titreResto{
            padding-top: 50px;
        }
        .divA{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 50px;
        }
        .aRestaurants{
            @include textDecoration;
        }
        .boxA{
            
            height: 250px;
            margin: 0px 20px 20px 20px;
            @include shadow;
            border-radius: 20px;
            background-color: map-get($map: $color, $key: backgroundPageColor);
        
            &__img{
                height: 70%;
                width: 100% ;
                object-fit: cover;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
        
            &__pNouveau{
                float: right;
                position: relative;
                bottom: 180px;
                right: 15px;
                background-color: map-get($map: $color, $key:tertiaryColor);
                @include fontSmallMax(bold);
                color: #0b8668;
                padding: 7px 10px 7px 10px;
                border-radius: 3px;
                &--opacity{
                    opacity: 0;
                }
        
            }
        
            &__divDescrip{
                display: flex;
                align-items: center;
                background-color: map-get($map: $color, $key: backgroundPageColor);
                position: relative;
                bottom: 2px;
                border-radius: 20px;
        
                &__divP{
                    flex: 4;
                    line-height: 10px;
        
                    &--palette{
                        margin-left: 20px;
                        @include fontMedium(bold);
                    }
                    &--menilmontant{
                        margin-left: 20px;
                        @include fontMedium;
                    }
        
                }
        
                &__icon{
                    flex: 1;
                    position: relative;
                    left: 80px;
                    bottom: 5px;
                    @include fontLarge;         
                }
        
            }
        }
        .heartAccueil{
            @include fontLarge(normal);
        }


/********************* SECTION PAGES MENU *****************/

.sectionMenu{
    margin-bottom: 60px;
}

.divTitreMenu{
    margin: -50px 0px 15px 20px;
    @include fontMedium;

    &__titre{
        margin-bottom: 5px;
    }

    &__ligne{
        width: 40px;
        border: solid map-get($map: $color, $key: tertiaryColor) 1.5px;
        background-color: map-get($map: $color, $key: tertiaryColor);
        margin: 0px;
        position: relative;
    }
}

.divChoix{
    margin: 0px 15px 0px 15px
}

.choix{
    @include etiquette;
    width: 100%;
    flex-direction: column;
    margin-bottom: 15px;
    &__titre{
        @include fontMedium(bold);
        margin: 10px 0px 0px 10px;
    }
    &__divDescription{
        display: flex;
        margin-bottom: 10px;
        &__description{
            @include fontSmall;
            margin: 5px 0px 0px 10px;
            flex: 5;
        }
        &__prix{
            @include fontSmall(bold);
            margin: 5px 0px 0px 0px;
            flex: 1;
        }

    }
}

.boutonCommander{
    @include bouton;
    position: relative;
    bottom: 30px;
    margin: 0px 80px 0px 80px;  

}


/************************ FOOTER  **************/

        footer{
            background-color: rgba(0, 0, 0, 0.781);
        }
        h3{
            font-family: 'Shrikhand', cursive;
            @include fontMedium;
            color: white;
            margin-left: 20px;
            padding-top: 20px;
        }
        ul{
            margin: 0px;
            @include fontSmallMax;
            position: relative;
            right: 15px;
            line-height: 22px;
            padding-bottom: 30px;
            .colorListe
            {
                color: white;
            }
            .iconListe{
                font-size: 12px;
                margin-right: 10px
            }

            .iconlisteTaille{
                font-size: 9px;
                margin-right: 10px
            }
        }
        .aFooter{
            @include textDecoration(white);
            
        }


        

}