.divOperationGuid{
    margin: 0px 20px 0px 20px;
    .numbering{
        background-color: $primaryColor;
        color: white;
        @include fontSmall;
        border-radius: 50%;
        padding: 2px 7px 2px 7px;
        margin-top: 25px;
        position: absolute;
        left: 10px;
    }
    .OperationGuidBand{
        @include band($backgroundColorPage);
        margin-bottom: 20px;
        background-color: $backgroundColorPage;
        height: 75px;
        align-items: center;
        border-radius: 15px; 
            &:hover {
                background-color: lighten($primaryColor, 35%);
            }
            &:hover .divIcon__icon{
                color: $primaryColor;;
            }         
        }
    }
    .divIcon{
        margin: 0px 25px 0px 35px;
       &__icon{
            color: rgb(159, 159, 159);
            @include fontMedium(bold); 
       }
    }
    .divP{
        &__description{
            @include fontSmall(bold);
        }
    }



.restaurantsSection{
    background-color: $backgroundColorPage;
    margin-top: 40px;
    position: relative;
    top: 20px;

    .restaurantsTitle{
        padding-top: 50px;
    }

    .restaurantsContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 50px;
    }
    .restaurant{
        @include textDecoration;
        height: 250px;
        margin: 0px 20px 20px 20px;
        @include shadow;
        border-radius: 20px;
        background-color: $backgroundColorPage;
        &__img{
            height: 70%;
            width: 100% ;
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }   
        &__new{
            float: right;
            position: relative;
            bottom: 180px;
            right: 15px;
            background-color: $tertiaryColor;
            @include fontSmallMax(bold);
            color: darken($tertiaryColor, 40%);
            padding: 7px 10px 7px 10px;
            border-radius: 3px;
            &--opacity{
                opacity: 0;
            }
        }
        &__divDescription{
            display: flex;
            align-items: center;
            background-color: $backgroundColorPage;
            position: relative;
            bottom: 2px;
            border-radius: 20px;
            &__divP{
                flex: 5;
                line-height: 10px;
                &--restaurantName{
                    margin-left: 20px;
                    @include fontMedium(bold);
                }
                &--restaurantLocalisation{
                    margin-left: 20px;
                    @include fontMedium;
                }
            }
            &__icon{
                flex: 1;
                display: flex;
                position: relative;
                left: 80px;
                bottom: 5px;
                @include fontLarge;

                &__heart{
                    @include fontLarge(normal);
                    &--animation{
                        position: absolute;
                        opacity: 0;
                        color: $primaryColor;
                        scale: 1;
                        transition: all 0.5s, transform 0.3s 0.2s;
                        
                        &:hover{
                            opacity: 1;
                            transform: scale(1.15);
                            background: linear-gradient(to bottom, $primaryColor 0%, $secondaryColor 100%);
                            -webkit-text-fill-color:transparent;
                            -webkit-background-clip: text;

                        }
                    }
                }       
            }    
        } 
    }
}