footer{
    background-color: $footerColor;
    @include responsive{
        text-align: center;
    }
    h3{
        font-family: 'Shrikhand', cursive;
        @include fontMedium;
        color: white;
        margin-left: 20px;
        padding-top: 50px;
        @include responsive{
            font-size: $fontMedium;
        }
    }
    ul{
        margin: 0px;
        @include fontSmallMax;
        position: relative;
        right: 15px;
        line-height: 22px;
        padding-bottom: 30px;
        @include responsive{
            font-size: $fontSmallMax;
            line-height: 28px;
        }
    
        .link{
            @include textDecoration(white);
            &__colorListe{
                color: darken($backgroundColorPage, 15%);
            }
        }
        .icon{
            font-size: 12px;
            margin-right: 10px;
            @include responsive{
                font-size: $fontSmallMax;
        }
            &--resize{
                font-size: 9px;
                margin-right: 10px; 
                @include responsive{
                    font-size: $fontSmallMax;
                }
            }     
        }
    }
}