.loader{
    display: grid;
    place-items: center;
    position: fixed;
    inset: 0;
    height: 100vh;
    background-color: #ffffff;
    z-index: 1;
    opacity: 0.9;
    animation: disappear 0s 3s forwards;
    &__divAnimation{
        display: grid;
        place-items: center;
        &__couverts{
            animation: spin 1s infinite;
            color: $primaryColor;
        }
        &__p{
            @include fontSmall(bold);
            margin-top: 30px;
        }
    }   
}