
/* only design for menu pages */
.mainMenuPages{
    background-color: $backgroundColorPage;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
    height: 1160px;
    
    &__divTitleMain{
        display: flex;
        position: relative;
        bottom: 60px;
        background-color: $backgroundColorPage;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        &__title{
            font-family: 'Shrikhand', cursive;
            margin-left: 20px;
            margin-bottom: 0px;
            padding-top: 15px;
            @include fontLarge(normal);
            flex: 5;
        }
        &__divHeart{
            display: flex;
            flex: 2;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 15px; 
        }
        .heart{
            @include fontLarge(normal);
            &--animation{
                opacity: 0;
                font-size: 25px;
                color: $primaryColor;
                position: absolute;
                scale: 1;
                text-shadow: 0 0 0 0 $primaryColor;
                animation: pulse 1.3s infinite;
                transition: all 0.5s, transform 0.5s 0.3s;
                &:hover{
                    opacity: 1;
                    transform: scale(1.15);
                    background: linear-gradient(to bottom, $primaryColor 0%, $secondaryColor 100%);
                    -webkit-text-fill-color:transparent;
                    -webkit-background-clip: text;
                }
            }  
        }    
    }

    .sectionMenus{
        margin-bottom: 60px;
        animation: apparition 1s ease-in-out;
        &--apparitionPlats{
            animation: apparition 1.3s ease-in-out;
        }
        &--apparitionDesserts{
            animation: apparition 1.6s ease-in-out;
        }
        
        &__divTitleMenu{
            margin: -50px 0px 15px 20px;
            @include fontMedium;
            &__title{
                margin-bottom: 5px;
            }
            &__line{
                width: 40px;
                border: solid $tertiaryColor 1.5px;
                background-color: $tertiaryColor;
                margin: 0px;
                position: relative;
            }
        }
    
        &__divChoiceBand{
            margin: 0px 15px 0px 15px;

            .band {
                @include band(white);
                overflow: hidden;
                cursor: pointer;
                margin-bottom: 15px;
                &__description{
                    @include paddingBand;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin: 0px 10px 0px 10px;
                    &__title{
                        margin: 0;
                        @include fontMedium(bold);
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    &__ingredient{
                        margin: 5px 0 0 0;
                        @include fontSmall;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            
                &__price{
                    @include fontSmall(bold);
                    margin-left: auto;
                    margin-right: 25px;
                    padding-left: 200px;
                    display: flex;
                    align-items: flex-end;
                    @include paddingBand;
                }
            
                &__checkBox{
                    @include fontSmall(bold);
                    display: grid;
                    place-items: center;
                    $widthBox: 4rem;
                    margin-right: -$widthBox;
                    width: $widthBox;
                    background: $tertiaryColor;
                    border-radius: 0px 15px 15px 0px;
                    @include paddingBand;
                    transition: margin-right .5s ease;
                    &__checked{
                        background-color: white;
                        color: $tertiaryColor;
                        border-radius: 50%;
                        width: 20px;
                        aspect-ratio: 1;
                        display: grid;
                        place-items: center;
                        @include fontSmallMax(bold);
                    }
                }
                &:hover {
                    .band__checkBox{
                        margin-right: 0px;
                    }
                    i {
                        animation: band-spiner .5s ease;
                    }
                }
            }
        }         
    }
}

