
/* only design for menu pages */
.mainMenuPages{
    background-color: $backgroundColorPage;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
    height: 1125px;
    &--laNoteEnchantee{
        height: 1205px;
    }
    @include responsive{
        width: 70%;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        top: -80px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        @include shadow(20%);
        height: 1160px;
        padding-bottom: 120px;
        &--laNoteEnchantee{
            height: 1250px;
        }
    }
    
    &__divTitleMain{
        display: flex;
        position: relative;
        bottom: 60px;
        background-color: $backgroundColorPage;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        @include responsive{
            text-align: center;
        }

        &__title{
            font-family: 'Shrikhand', cursive;
            margin-left: 20px;
            margin-bottom: 0px;
            padding-top: 15px;
            @include fontLarge(normal);
            flex: 5;
            @include responsive{
                font-size: $fontLarge;
                margin-left: 50px;
                display: flex;
                justify-content: flex-start;
            }
            @include mobileResponsive{
                font-size: $fontLargeMobile;
            }
        }
        &__divHeart{
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 15px; 
            cursor: pointer;
            @include responsive{
                justify-content: flex-end;
                margin-right: 50px;
                flex: 1;
            }
        }
        .heart{
            @include fontLarge;
            @include responsive{
                font-size: $fontLarge;
            }
            @include mobileResponsive{
                font-size: $fontLargeMobile;
            }
            &--animation{
                opacity: 0;
                @include fontLarge(bold);
                color: $primaryColor;
                position: absolute;
                transition: all 0.5s, transform 0.5s 0.3s;
                @include responsive{
                    font-size: $fontLarge;
                }
                @include mobileResponsive{
                    font-size: $fontLargeMobile;
                }
                &:hover{
                    opacity: 1;
                    transform: scale(1.15);
                    background: linear-gradient(to bottom, $primaryColor 0%, $secondaryColor 100%);
                    -webkit-text-fill-color:transparent;
                    -webkit-background-clip: text;
                }
            }
        }
    }

    .sectionMenus{
        margin-bottom: 60px;
        animation: apparition 1s ease-in-out;
        &--apparitionPlats{
            animation: apparition 1.3s ease-in-out;
        }
        &--apparitionDesserts{
            animation: apparition 1.6s ease-in-out;
        }
        
        &__divTitleMenu{
            margin: -50px 0px 15px 20px;
            @include fontMedium;
            
            &__title{
                margin-bottom: 5px;
                @include responsive{
                    font-size: $fontMedium;
                }
                @include mobileResponsive{
                    font-size: $fontMediumMobile;
                }
            }
            &__line{
                width: 40px;
                border: solid $tertiaryColor 1.5px;
                background-color: $tertiaryColor;
                margin: 0px;
                position: relative;
                @include responsive{
                    width: 60px;
                }
            }
        }
    
        &__divChoiceBand{
            margin: 0px 15px 0px 15px;

            .band {
                @include band(white);
                overflow: hidden;
                cursor: pointer;
                margin-bottom: 15px;
                &__description{
                    @include paddingBand;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin: 0px 10px 0px 10px;
                    &__title{
                        margin: 0;
                        @include fontMedium(bold);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        @include responsive{
                            font-size: $fontMedium;
                        }
                        @include mobileResponsive{
                            font-size: $fontMediumMobile;
                        }
                    }
                    &__ingredient{
                        margin: 5px 0 0 0;
                        @include fontSmall;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        @include responsive{
                            font-size: $fontSmall;
                        }
                        @include mobileResponsive{
                            font-size: $fontSmallMobile;
                        }
                    }
                }
            
                &__price{
                    @include fontSmall(bold);
                    margin-left: auto;
                    margin-right: 25px;
                    padding-left: 200px;
                    display: flex;
                    align-items: flex-end;
                    @include paddingBand;
                    @include responsive{
                        font-size: $fontSmall;
                    }
                    @include mobileResponsive{
                        font-size: $fontSmallMobile;
                    }
                }
            
                &__checkBox{
                    @include fontSmall(bold);
                    display: grid;
                    place-items: center;
                    $widthBox: 4rem;
                    margin-right: -$widthBox;
                    width: $widthBox;
                    background: $tertiaryColor;
                    border-radius: 0px 15px 15px 0px;
                    @include paddingBand;
                    transition: margin-right .5s ease;
                    @include responsive{
                        font-size: $fontSmall;
                    }
                    @include mobileResponsive{
                        font-size: $fontSmallMobile;
                    }
                    &__checked{
                        background-color: white;
                        color: $tertiaryColor;
                        border-radius: 50%;
                        width: 25px;
                        aspect-ratio: 1/1;
                        display: grid;
                        place-items: center;
                        @include fontSmallMax(bold);
                        @include responsive{
                            font-size: $fontSmallMax;
                        }
                        @include mobileResponsive{
                            font-size: $fontSmallMaxMobile;
                        }
                    }
                }
                &:hover {
                    .band__checkBox{
                        margin-right: 0px;
                    }
                    i {
                        animation: band-spiner .5s 0.15s ease;
                    }
                }
            }
        }         
    }
}

