/* the button take place in the home page header */ 
.exploreButton{
    @include button;
    position: relative;
    top: 35px;
    padding: 1.2rem;
}
/* the button take place just above the menu pages footer */ 
.orderButton{
    @include button;
    bottom: 30px;
    padding: 1rem 3rem 1rem 3rem;
    position: relative;
    bottom: 20px;
}   

/* arrow icon take place beside the logo, in menu pages */
.arrow{
    position: relative;
    right: 20%;
    bottom: 8px;
    @include fontLarge(bold);
    @include textDecoration;
}

/* a banner image illustrating the restaurant, in menu pages */
.banner{
    height: 300px;
    width: 100%;
    object-fit:cover;
}

/* design the two sections titles, home page */
.sectionTitle{
    @include fontLarge;
    margin: 50px 0px 30px 20px;
}