$primaryColor: #9356DC;
$secondaryColor: #FF79DA;
$tertiaryColor: #99E2D0;
$backgroundColorPage: #F7F7F7;
$footerColor: rgba(0, 0, 0, 0.781);


$fontLarge: 30px;
$fontMedium: 22.5px;
$fontSmall: 21px;
$fontSmallMax: 19px;